<div class="radio">
  <label>{{ labelTxt }} <span *ngIf="required">*</span></label>

  <div class="flex">
    <div class="items-center">
      <p-radiobutton
        [name]="radioTxt"
        [value]="true"
        [ngModel]="value"
        (onClick)="setValue(true)"
        inputId="r1"
      />
      <label for="r1" class="ml-2">{{ valueOne }}</label>
    </div>

    <div class="items-center">
      <p-radiobutton
        [name]="radioTxt"
        [value]="false"
        [ngModel]="value"
        (onClick)="setValue(false)"
        inputId="r2"
      />
      <label for="r2" class="ml-2">{{ valueTwo }}</label>
    </div>
  </div>
</div>
