

  .realStateContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2vw;

    .totalDiv {
      width: 23%;
      margin: 1% 0%
    }
  }

  .state {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .chart {
      width: 58%;
      border: 0.1vw solid rgba(217, 217, 217, 1);
      border-radius: 0.5vw;
      padding: 2%;
      height: 20vw;

      .title-chart {
        text-align: center;

        p {
          font-size: 1.6vw;
          font-weight: 700;
        }
      }

      .data {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .content {
          width: 58%;
          height: 24vh;
          display: flex;
          justify-content: center;
          flex-direction: column;

          .row {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .con {
              display: flex;
              align-items: center;
            }

            .dot {
              width: 1vw;
              height: 1vw;
              background-color: rgba(1, 162, 80, 1);
              margin-left: 0.5vw;
            }
          }
        }

        .draw {
          width: 40%;
        }

      }
    }

    .table {
      width: 40%;
      border: 0.1vw solid rgba(217, 217, 217, 1);
      border-radius: 0.5vw;
      padding: 3% 2%;

      .row {
        padding: 0.5vw;
        width: 100%;
        border-bottom: 0.1vw solid rgba(217, 217, 217, 1);

        .des {
          font-size: 1.2vw;
          font-weight: 700;
          margin-bottom: 0.5vw;

        }

        .date {
          text-align: end;
          font-size: 1.1vw;
          color: rgba(113, 113, 113, 1);
          margin-bottom: 0.5vw;
        }
      }

    }
  }
