.button {
  width: auto;
  padding: 1vw 1.5vw;
  margin: 0 0.5vw;
  border-radius: 0.5vw;
  cursor: pointer;
  min-width: 8vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &.custom {
    border: 0.1vw rgba(16, 55, 70, 1) solid;

    p {
      color: rgba(16, 55, 70, 1);
    }
  }

  &.main {
    background-color: rgba(16, 55, 70, 1);
    border: none;

    p {
      color: white;
    }
  }

  &.delete {
    background-color: rgba(221, 43, 46, 1);

    p {
      color: white;
    }
  }

  &.gray {
    background-color: rgba(184, 184, 184, 1);

    p {
      color: white;
    }
  }

  &.orange{
     background-color: rgba(236, 98, 13, 1);

    p {
      color: white;
    }
  }

  &.sky{
    background-color: #F6F6F8;
    border: 0.1vw solid #103746;

    p {
      color: #103746;
    }
  }

  .print{
    width: 1.5vw;
    height: 1.5vw;
    background-size: 100% 100%;
    background-image: url(/assets/images/print.png);
    margin: 0 0.5vw;
  }

}
