.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    background: #fff;
    border-radius: 1vw;
    padding: 1vw 1vw;
    width: 26vw;
    border: 0.1vw solid #e2e2e2ee;
    margin-bottom: 1vw;
    .card-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 1.5vw;
        font-weight: bold;
        color: #103746;
      }
      .actions {
        display: flex;
        gap: 0.5vw;

        .edit-icon,
        .delete-icon {
          cursor: pointer;
          background-size: 100% 100%;
          height: 1.5vw;
        }

        .edit-icon {
          background-image: url(/assets/images/edit.png);
          width: 1.5vw;
        }

        .delete-icon {
          background-image: url(/assets/images/delete.png);
          width: 1.3vw;
        }
      }
    }

    .card-footer {
      margin-top: 1vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .avatars {
        display: flex;
        align-items: center;
        img,
        .more {
          width: 2vw;
          height: 2vw;
          border-radius: 50%;
          margin-left: -0.8vw;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8vw;
          font-weight: 600;
          background-color: rgb(128, 128, 128, 0.8);
          color: white;
        }
      }

      .users-count {
        font-size: 1.5vw;
      }
    }
  }
}
.buttons {
  justify-content: start;
  margin: 0 0 1.5vw 0;
}
