.login {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(120deg, #0f3e54, #d0b47b),
    url(/assets/images/bg-login.png);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;

  .border-login {
    width: 40%;
    height: 64%;
    padding: 3% 5%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 0.01vw solid rgba(255, 255, 255, 0.7);
    border-radius: 2%;
    display: flex;
    flex-direction: column;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 6% 0;

      .group {
        margin-bottom: 3%;
      }

      label {
        font-size: 1.4vw;
        margin-bottom: 0.5%;

        &.blue {
          color: rgba(16, 55, 70, 1);
        }

        &.white {
          color: rgba(246, 246, 248, 1);
        }
      }

      input {
        width: 98%;
        height: 4.5vh;
        padding: 1%;
        border-radius: 0.4vw;
        border: none;
        outline: none;
        background: rgba(255, 255, 255, 0.5);
        color: #fff;
        font-size: 1.2vw;
      }

      input::placeholder {
        color: #ddd;
      }
    }


    .forgot {
      width: 100%;
      display: flex;
      justify-content: left;
      margin-bottom: 1%;
      cursor: pointer;

      p {
        color: rgba(221, 43, 46, 1);
        font-size: 1.4vw;
        font-weight: 700;

      }
    }

    .btnLogin {
      width: 100%;
      height: 8vh;
      background-color: rgba(16, 55, 70, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0.4vw;
      cursor: pointer;

      p {
        color: rgba(255, 255, 255, 1);
        font-weight: 700;
        font-size: 1.8vw;
      }

    }
  }
}
