.input {
  width: 100%;
  margin-bottom: 1vw;

  label {
    font-size: 1.4vw;

    span {
      color: rgba(255, 52, 52, 1);
    }
  }
}

.input input {
  height: 3.2vw;
  width: 100%;
  padding: 0 3% 0 2.5vw;
  position: relative;
  /* مساحة يسار لأيقونة التقويم */
  border: 0.1vw solid rgba(0, 0, 0, 0.5);
  border-radius: 0.8vw;
  background-color: rgba(246, 246, 248, 1);
  text-align: right;
  direction: rtl;
  font-size: 1.2vw;
  color: #000;
  outline: none;

  &.inputForm {
    background-color: rgba(255, 255, 255, 1);
    border: 0.01vw solid rgba(187, 187, 187, 1);
    margin-top: 0.5vw;
  }
}

/* Placeholder */
.input input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

/* تقويم */
.input input::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
  cursor: pointer;
  position: absolute;
  left: 0.8vw;
  top: 50%;
  transform: translateY(-50%);

  &.inputForm {
    top: 70%;

  }
}
