.userContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2vw;

  .totalDiv {
    width: 23%;
    margin: 1% 0%;
  }
}

.state {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .chart {
    width: 58%;
    border: 0.1vw solid rgba(217, 217, 217, 1);
    border-radius: 0.5vw;
    padding: 2%;
    height: 20vw;

    .title-chart {
      text-align: center;

      p {
        font-size: 1.6vw;
        font-weight: 700;
      }
    }

    .data {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .content {
        width: 58%;
        height: 30vh;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .row {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .con {
            display: flex;
            align-items: center;
          }

          .dot {
            width: 1vw;
            height: 1vw;
            background-color: rgba(1, 162, 80, 1);
            margin-left: 0.5vw;
          }
        }
      }

      .draw {
        width: 40%;
      }

    }
  }


}