#page {
  width: 100%;
  display: flex;
    height: 100%;

  #sideBar {
    width: 17%;
    height: 100%;
  }

  #routerPage {
    width: 83%;
    height: 100%;

    .top {
      width: 100%;
      height: 13%;
      background-color: gainsboro;
    }

    .page {
      width: 100%;
      height: 87%;
      overflow-y: auto; // auto أفضل من scroll علشان يظهر بس وقت الحاجة
      background-color: rgba(255, 255, 255, 1);

    }
  }


}
