.input {
  width: 100%;
  margin-bottom: 1vw;

  label {
    font-size: 1.4vw;
    font-weight: 400;

    span {
      color: rgba(255, 52, 52, 1);
    }
  }

  .upload-box {
    width: 100%;
    height: 3.2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 0.1vw solid rgba(0, 0, 0, 0.5);
    border-radius: 0.8vw;
    background-color: rgba(246, 246, 248, 1);
    padding: 0 1vw;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 1.2vw;
    color: #333;
    text-align: right;

    &.inputForm {
      background-color: rgba(255, 255, 255, 1);
      border: 0.01vw solid rgba(187, 187, 187, 1);
      margin-top: 0.5vw;

      &:focus {
        border-color: #999;
        background-color: #fff;
      }
    }

    &:focus {
      border-color: #999;
      background-color: #fff;
    }

    .file-name {
      flex: 1;
      text-align: right;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 1.2vw;
    }

    .upload-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2vw;
      height: 2vw;
      border-radius: 50%;

      img {
        width: 1.4vw;
        height: 1.4vw;
      }
    }


  }

  .file-hint {
    display: block;
    font-size: 1vw;
    color: rgba(151, 151, 151, 1);
    text-align: right;
    margin-top: 0.2vw;
  }

}
