.toggle-collection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 2vw 0 3vw 0;
  .collection {
    width: 20%;
    padding: 0.5vw 3vw;
    cursor: pointer;
    p{
      font-size: 1.4vw;
      font-weight: 500;
    }

    &.active {
      border-radius: 0.2vw;
      color: #D5B682;
      border-bottom: 0.3vw solid #D5B68226;
    }
  }
}