<div id="container-page">
  <div class="space-between">
    <div class="title">
      <p> {{buildingDetailes.name}}</p>
    </div>
    <div class="w80f">
      <div class="buttons">
        <div class="status red green m1l">
          <p>{{buildingDetailes.buildingStatus.ar}}</p>
        </div>
        <app-button [className]="'orange'" [buttonTxt]="'تعديل'"></app-button>
        <app-button [className]="'main'" [buttonTxt]="'تصدير إلى Excel'"></app-button>
      </div>
    </div>
  </div>
  <div class="toggle-collection">
    <div class="collection " *ngFor="let button of buttons" [ngClass]="{'active':button.active}"
      (click)="toggleButton(button)">
      <p>{{button.name}}</p>
    </div>

  </div>
  @if(activeTab == 1){
  <div class="container-detailes">

    <div class="space-between">
      <div class="txt w50f">
        <p>وصف العمارة</p>
      </div>
      <div class="des w50f end">
        <p>{{buildingDetailes.description}}</p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>لأرض التابعة</p>
      </div>
      <div class="des w50f end bold">
        <p>{{buildingDetailes.landName}}</p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>عدد الشقق</p>
      </div>
      <div class="des w50f end bold">
        <p>{{buildingDetailes.numberOfUnits}} </p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>عدد الأدوار </p>
      </div>
      <div class="des w50f end bold">
        <p> {{buildingDetailes.numberOfFloors}} </p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>سنة البناء</p>
      </div>
      <div class="des w50f end bold">
        <p>{{SharedServices.convertToArabicDate(buildingDetailes.constructionYear)}}</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="des w50f bold m1b">
      <p>الأبعاد والمساحة</p>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>الطول (م) </p>
      </div>
      <div class="des w50f end bold">
        <p>{{buildingDetailes.length}}</p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>العرض(م)</p>
      </div>
      <div class="des w50f end bold">
        <p>{{buildingDetailes.width}}</p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>المساحة الكلية(م2)</p>
      </div>
      <div class="des w50f end bold">
        <p>{{buildingDetailes.length *  buildingDetailes.width}}</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="des w50f bold m1b">
      <p>المستندات الرسمية</p>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p> رخصة البناء </p>

      </div>
      <div class="file w50f end">
        <p id="buliding_permit" (click)="downloadAttachment('buliding_permit')">Attachment1</p>
        <div class="icon"></div>

      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>شهادة السلامة الإنشائية</p>
      </div>
      <div class="file w50f end">
        <p id="buliding_safety_certificate" (click)="downloadAttachment('buliding_safety_certificate')">Attachment2</p>
        <div class="icon"></div>

      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>شهادة إتمام البناء</p>

      </div>
      <div class="file w50f end">
        <p id="buliding_completion_certificate" (click)="downloadAttachment('buliding_completion_certificate')">Attachment3</p>
        <div class="icon"></div>

      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p> المخططات المعمارية والكهربائية </p>
      </div>
      <div class="file w50f end">
        <p id="architectural_and_electrical" (click)="downloadAttachment('architectural_and_electrical')">Attachment1</p>
        <div class="icon"></div>

      </div>
    </div>
  </div> }
  @if(activeTab == 2){
  <div class="container-table" *ngIf="units && units.items.length; else noData">
    <app-table [cols]="cols" [items]="units.items" [totalPages]="totalPages" [pageSize]="pageSize" (pageNumber)="GetpageNumber($event)" (view)="detailesUnit($event)" (edit)="editUnit($event)"></app-table>
  </div>
  <ng-template #noData>
    <p class="text-center text-gray-500 mt-4">لا توجد وحدات متاحة حالياً</p>
  </ng-template>
  }
</div>
