<div id="container-page">
  <div class="space-between">
    <div class="title">
      <p>عمارة أ</p>
    </div>
    <div class="w80f">
      <div class="buttons">
        <div class="status red green m1l">
          <p>مكتملة</p>
        </div>
        <app-button [className]="'orange'" [buttonTxt]="'تعديل'"></app-button>
        <app-button [className]="'main'" [buttonTxt]="'تصدير إلى Excel'"></app-button>
      </div>
    </div>
  </div>
  <div class="toggle-collection">
    <div class="collection " *ngFor="let button of buttons" [ngClass]="{'active':button.active}"
      (click)="toggleButton(button)">
      <p>{{button.name}}</p>
    </div>

  </div>
  @if(activeTab == 1){
  <div class="container-detailes">

    <div class="space-between">
      <div class="txt w50f">
        <p>وصف العمارة</p>
      </div>
      <div class="des w50f end">
        <p>قطعة أرض سكنية تقع في منطقة التجمع الخامس – القاهرة الجديدة، مساحتها 500 م² (20م طول × 25م عرض)، مستطيلة
          الشكل، واجهة شرقية على شارع رئيسي بعرض 12م، وقريبة من الخدمات (مدرسة – مسجد – سوبرماركت).</p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>لأرض التابعة</p>
      </div>
      <div class="des w50f end bold">
        <p>أرض A</p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>عدد الشقق</p>
      </div>
      <div class="des w50f end bold">
        <p>120 </p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>عدد الأدوار </p>
      </div>
      <div class="des w50f end bold">
        <p> 6 </p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>سنة البنا</p>
      </div>
      <div class="des w50f end bold">
        <p>12 يونيو 2020</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="des w50f bold m1b">
      <p>الأبعاد والمساحة</p>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>الطول (م) </p>
      </div>
      <div class="des w50f end bold">
        <p>12233</p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>العرض(م)</p>
      </div>
      <div class="des w50f end bold">
        <p>2334</p>
      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>المساحة الكلية(م2)</p>
      </div>
      <div class="des w50f end bold">
        <p>22456</p>
      </div>
    </div>
    <div class="line"></div>
    <div class="des w50f bold m1b">
      <p>المستندات الرسمية</p>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>شهادة السلامة الإنشائية</p>
      </div>
      <div class="file w50f end">
        <p>Document1.pdf</p>
        <div class="icon"></div>

      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p> رخصة البناء </p>
      </div>
      <div class="file w50f end">
        <p>Document1.pdf</p>
        <div class="icon"></div>

      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p> المخططات المعمارية والكهربائية </p>
      </div>
      <div class="file w50f end">
        <p>Document1.pdf</p>
        <div class="icon"></div>

      </div>
    </div>
    <div class="space-between">
      <div class="txt w50f">
        <p>شهادة إتمام البناء</p>
      </div>
      <div class="file w50f end">
        <p>Document1.pdf</p>
        <div class="icon"></div>

      </div>
    </div>
  </div> }
  @if(activeTab == 2){
  <div class="container-table" *ngIf="buildings && buildings.length; else noData">
    <app-table [cols]="cols" [items]="buildings" (view)="detailesUnit($event)" (edit)="editUnit($event)"></app-table>
  </div>
  <ng-template #noData>
    <p class="text-center text-gray-500 mt-4">لا توجد وحدات متاحة حالياً</p>
  </ng-template>
  }
</div>
