.input {
  width: 100%;
  margin-bottom: 1vw;

  label {
    font-size: 1.4vw;

    span {
      color: rgba(255, 52, 52, 1);
    }
  }

  textarea {
    width: 100%;
    height: 7vw;
    padding: 0.5vw;
    border: 0.1vw solid rgba(0, 0, 0, 0.5);
    border-radius: 0.8vw;
    background-color: rgba(246, 246, 248, 1);
    text-align: right;
    outline: none;
    transition: border-color 0.2s ease;
    font-size: 1.2vw;
    resize: none;
    /* عشان مايتسحبش بالماوس */

    &.inputForm {
      background-color: rgba(255, 255, 255, 1);
      border: 0.01vw solid rgba(187, 187, 187, 1);
      margin-top: 0.5vw;

      &:focus {
        border-color: #999;
        background-color: #fff;
      }

      &::placeholder {
        color: rgba(187, 187, 187, 1);
        opacity: 1;
      }
    }

    &:focus {
      border-color: #999;
      background-color: #fff;
    }

    &::placeholder {
      color: rgba(99, 99, 99, 1);
      opacity: 1;
    }

  }
}
