// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material'as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  src: url(src/assets/fonts/ProductSans-Regular.ttf);
  font-family: sans;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

p,
div,
span,
label,
input {
  font-size: 1.6vw;
  font-family: sans !important;

  &.big {
    font-size: 2vw;
    font-weight: 900;
  }

  &.blue {
    color: rgba(16, 55, 70, 1);
  }

  &.white {
    color: rgba(246, 246, 248, 1);
  }
}

body {
  direction: rtl;
}

#container-page {
  width: 100%;
  height: auto;
  padding: 2%;
}



.subTitle {
  margin: 2% 0%;

  p {
    font-size: 1.9vw;
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
  }
}

.container-filter {
  width: 100%;
  flex-direction: column;
  padding: 2%;
  background-color: rgba(246, 246, 248, 1);

  .title-filter {
    margin-bottom: 1vw;

    p {
      font-size: 1.8vw;
      font-weight: 400;
    }
  }

  .content-filter {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .thrid {
      width: 32%;
    }

    .four {
      width: 24%;
    }

    .half {
      width: 45%;
    }
  }

}

.container-table {
  width: 100%;
  height: auto;
  overflow-y: auto;

}

.buttons {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  margin: 1.5vw 0;
}

::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: rgba(16, 55, 70, 1);
  border-radius: 1vw;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.model-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1vw 8vw;

  p {
    font-family: sans !important;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }
}

.space-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: rgba(16, 55, 70, 1);
  font-size: 1.9vw;
  font-weight: bold;
}

.line {
  width: 100%;
  height: 0.1vw;
  background-color: rgba(156, 156, 156, 0.8);
  margin: 2vw 0;

}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;

  .row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .half {
      width: 48%;
      display: flex;
      justify-content: space-between;
    }

    .full {
      width: 100%;
    }


  }

  .sub-form {
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    background-color: rgba(242, 242, 242, 1);
  }
}

.status {
    width: 5.5vw;
    padding: 0.2vw;
    display: flex;
    border-radius: 0.6vw;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &.red {
      background-color: rgba(220, 38, 38, 0.1);

      p {
        color: rgba(255, 52, 52, 1);
        font-size: 1vw;
        font-weight: bold;
      }
    }

    &.green {
      background-color: rgba(18, 157, 84, 0.1);

      p {
        color: rgba(18, 157, 84, 1);
        font-size: 1vw;
        font-weight: bold;

      }
    }
  }
