.container-detailes {
  width: 100%;
  border: 0.1vw solid rgba(226, 226, 226, 0.9333);
  padding: 2%;
  border-radius: 1vw;

  .w80f {
    width: 80%;
  }

  .w50f {
    width: 50%;
  }

  .m1b {
    margin-bottom: 1vw;
  }

  .end {
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    justify-content: end;
  }


  .txt {
    p {
      font-size: 1.4vw;
      font-weight: 400;
      color: rgba(99, 99, 99, 1);
    }
  }

  .des {
    p {
      font-size: 1.4vw;
      line-height: 2vw;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
    }

    &.bold {
      p {
        font-size: 1.6vw;
        font-weight: 700;
      }

    }
  }

  .file {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1vw;

    p {
      color: rgba(16, 55, 70, 1);
      font-size: 1.6vw;
      font-weight: 400;
      border-bottom: 0.1vw solid rgba(16, 55, 70, 1);
      cursor: pointer;

    }

    .icon {
      width: 1.2vw;
      height: 1.2vw;
      background-image: url(/assets/images/file.png);
      background-size: 100% 100%;
      margin: 0 0.3vw;
    }
  }
}
