.top-bar {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 1);
  border-bottom: 0.1vw solid rgba(184, 184, 184, 1);

  .title-bar {
    margin: 0 3vw;

    p {
      font-size: 1.9vw;
      color: rgba(16, 55, 70, 1);
      font-weight: bold;
    }
  }

  .details-user {
    display: flex;
    align-items: center;

    .notifer {
      width: 2.5vw;
      height: 2.5vw;
      background-image: url(/assets/images/notifer.png);
      background-size: 100% 100%;
      position: relative;
      margin: 0 5vw;

      .counter-notifer {
        position: absolute;
        top: -10%;
        left: 50%;
        width: 1.5vw;
        height: 1.5vw;
        background-color: rgba(255, 52, 52, 1);
        color: rgba(255, 255, 255, 1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8vw;
      }


    }

    .image {
      width: 3.5vw;
      height: 3.5vw;
      border-radius: 50%;
      border: 0.1vw black solid;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1vw;

      p {
        font-size: 1.4vw;
      }
    }

    .name {
      margin: 0 0.5vw;

      p {
        font-size: 1.2vw;
        font-weight: 400;
      }
    }

    .dropDown {
      margin: 0 0.5vw 0vw 1vw;
      width: 0.8vw;
      height: 0.5vw;
      background-image: url(/assets/images/drop-down.png);
      background-size: 100% 100%;
    }
  }

}
